:root {
  --title-color: #212121;
  --hover-color: #2196f3;
  --text-color: #757575;
  --background-color-hero-footer: #2f303a;
  --background-color-main: #ffffff;
  --bacground-color-image: #f5f4fa;
  --icon-background: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--background-color-main);
  font-family: Roboto, sans-serif;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually__hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: insert(100%);
  margin: -1px;
}
