:root {
  --title-color: #212121;
  --hover-color: #2196f3;
  --text-color: #757575;
  --background-color-hero-footer: #2f303a;
  --background-color-main: #ffffff;
  --bacground-color-image: #f5f4fa;
  --icon-background: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
